
.fl{
	float: left;
}
.fr{
	float: right;
}
/*顶部导航*/
.top{
	height: 26px;
	line-height: 26px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #d7d7d7;
}
.top .top_r li{
	float:left;
	padding-right: 10px;
}
.top .top_r s{
	width: 7px;
	height: 4px;
	display: inline-block;
	background:url(../images/sj.png) no-repeat;
	vertical-align: middle;
	margin-left: 2px;
}
/*logo部分*/
.logo{
	height: 98px;
	position: relative;
}
.logo .logo_l{
	width: 200px;
	height: 84px;
	text-indent: -1000px;
	position: absolute;
	left: 0;
	top:0;
	background:url(../images/1.png) no-repeat;
}
.logo .logo_r{
	width: 530px;
	height: 42px;
	border: 1px solid #dadada;
	position: absolute;
	right: 0;
	top: 29px;
}
.logo_r_content{
	margin: 5px;
}
.logo .logo_r_search{
	width: 416px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	padding-left: 2px;
	color: #999;
	border:1px solid #dadada;
}
.logo .logo_r_btn{
	width: 99px;
	height: 30px;
	line-height: 30px;
	color: white;
	font-size: 16px;
	background-color: #2F70D0;
}
/*nav导航*/
.nav{
	height: 25px;
	border-bottom: 2px solid #0266A3;
}
.nav li{
	float: left;
	padding: 0 15px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}
.nav li a{
	color: #306BAE;
}
.nav li:hover,.nav li:hover a{
	background-color: #306BAE;
	color: white;
}
/*banner部分*/
.banner{
	height: 210px;
	margin-top: 10px;
}
.banner .banner_l{
	height: 210px;
	width: 200px;
	background-color: #EBF0F6;
	margin-right: 10px;
}
.banner .banner_l p{
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #0266A3;
}
.banner .banner_l .bg1{
	background: url(../images/icon_1.png) no-repeat 9px bottom;
}
.banner .banner_l .bg2{
	background: url(../images/icon_2.png) no-repeat 9px bottom;
}
.banner .banner_l .bg3{
	background: url(../images/icon_3.png) no-repeat 9px bottom;
}
.banner .banner_l .bg4{
	background: url(../images/icon_4.png) no-repeat 9px bottom;
}
.banner .banner_l .bg5{
	background: url(../images/icon_5.png) no-repeat 9px bottom;
}
.banner .banner_l .bg6{
	background: url(../images/icon_6.png) no-repeat 9px bottom;
}

.banner .banner_l li{
	padding-top: 11px;
	padding-left: 35px;
}
.banner .banner_m{
	width: 520px;
	height: 210px;
}
.banner .banner_r{
	width: 230px;
	height: 210px;
	position: relative;
}
.banner .banner_r img{
	display: block;
}
.banner .banner_r .center-r2{
	position: absolute;
	right: -3px;
	bottom: -5px;
}
/*建筑材料bud*/
.bud{
	height: 34px;
	line-height: 34px;
	border-top: 2px solid #C3D7E4;
	background-color: #ECF1F7;
	margin-top: 14px;
}
.bud p{
	font-size: 14px;
	padding-left: 22px;
	color: #444444;
	font-weight: bold;
}
/*product产品信息*/
.product{
	height: 344px;
	margin-top: 11px;
}
.product .product_l{
	width: 729px;
	height: 344px;
	border: 1px solid #ccc;
}
.product_l .product_l_top{
	width: 700px;
	height: 142px;
	margin: 16px 0 14px 26px;
}
.product_l .product_l_top .plt_l{
	width: 350px;
	height: 142px;
}
.product_l .product_l_top .left{
	width: 99px;
	height: 142px;
	position: relative;
}
.product_l .product_l_top .left .t_img{
	width: 97px;
	height: 100px;
	border: 1px solid #ccc;
}
.product_l .product_l_top .left .t_img img{
	margin: 18px 4px 0 3px;
}
.product_l .product_l_top .left button{
	width: 99px;
	height: 26px;
	background-color: #0A84E3;
	color: white;
	border: none;
	position: absolute;
	bottom: 0;
}
.product_l .product_l_top .right{
	width: 250px;
	height: 142px;
}
.product_l .product_l_top .right .goodwife{
	padding: 10px 0 0 10px;
	font-size: 14px;
}
.product_l .product_l_top .right .auto{
	color: #863E01;
	padding: 14px 0 0 16px;
}
.product_l .product_l_top .right .money{
	padding: 23px 0 0 11px;
}
.product_l .product_l_top .right .money .red{color: red;font-size: 14px;font-weight: bold;}
.product_l .product_l_top .right .money .yuan{text-decoration: line-through;color: #ccc;}
.product_l .product_l_top .right .buyed{
	padding: 8px 0 0 11px;
}
.product_l .product_l_top .right .buyed span{color: red;font-weight: bold;}
.product_l .product_l_mid{
	width: 719px;
	height: 1px;
	margin-left: 5px;
	background-color: #ccc;
}
.product_l .product_l_bot{
	width: 700px;
	height: 142px;
	margin: 11px 0 15px 26px;
	background-color: pink;
}


.product .product_r{
	width: 228px;
	height: 344px;
	border: 1px solid #ccc;
}
.product .product_r p{
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
	background-color: #FCFCFC;
	border-bottom: 1px solid #ccc;
}
.product .product_r ul{margin-top: 17px;}
.product .product_r li{
	height: 24px;
	background: url(../images/li_bg.png) no-repeat 10px 7px;
	padding-left: 25px;
}
/*儿童安全座椅*/
.security .security_top p{
	height: 34px;
	line-height: 34px;
	background-color: #ECF1F7;
	border-top: 2px solid #C3D7E4;
	padding-left: 22px;
	font-size: 14px;
	font-weight: bold;
	color: #434343;
	margin-top: 15px;
	margin-bottom: 11px;
}
.security_bot .s_b_l .s_b_l_top{
	height: 23px;
	line-height: 23px;
	width: 724px;
	border-bottom: 2px solid #00B0E7;
}
.security_bot .s_b_l .s_b_l_bot{
	width: 722px;
	height: 301px;
	border: 1px solid #ccc;
	border-top: none;
}
.security_bot .s_b_l .s_b_l_bot ul{
	padding:5px 0 0 5px;
}
.security_bot .s_b_l .s_b_l_bot li{
	float: left;
	width: 164px;
	height: 284px;
	text-align: center;
	margin-right: 15px;
}
.security_bot .s_b_l .s_b_l_bot li a:hover{
	text-decoration: none;
}
.security_bot .s_b_l .s_b_l_bot li .title{
	padding: 9px 9px 5px 9px;
	font-weight: bold;
	color: #333;
}
.security_bot .s_b_l .s_b_l_bot li .age{color: #999;height: 25px;}
.security_bot .s_b_l .s_b_l_bot li .money{color: #999;height: 24px;}
.security_bot .s_b_l .s_b_l_bot li .money .ed{text-decoration: line-through;}
.security_bot .s_b_l .s_b_l_bot li .zhixiao{color: #999;}
.security_bot .s_b_l .s_b_l_bot li .zhixiao .now{font-weight: bold;color: red;}

.security_bot .s_b_r img{display: block;}
.security_bot .s_b_r .et{
	border: 1px solid #ccc;
	margin-bottom: 17px;
}
/*工艺美术品*/
.gongyi .product_r h1{
	height: 77px;
	margin-top: 14px;
}
.gongyi .product_r h1 .right{
	width: 120px;
	padding: 0 2px;
	line-height: 19px;
	color: #999;
}
.gongyi .product_r ul{
	margin:10px 0 0 2px;
}
.gongyi .product_r ul li{
	background: none;
	height: 23px;
	padding-left: 3px;
}
.gongyi .product_r ul li span{color: #999;}

/*友情链接*/
.friend{
	height: 102px;
	border-top: 1px solid #ccc;
	border-bottom: 3px solid #0A7EC3;
	margin-top: 18px;
}
.friend p, .friend ul{
	margin-top: 30px;
}
.friend ul{width: 904px;}
.friend ul li{
	float: left;
	padding: 0 3px;
	height: 23px;
}

/*footer*/
.footer{
	text-align: center;
}
.footer ul{margin:15px auto;width: 640px;}
.footer li{
	float: left;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}
.footer .none{border: none;}
.footer p{height: 23px;}
